################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config
/.vs
/obj
/bin
/Properties/PublishProfiles
/RequestValidator.csproj.user
