################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config
/.vs
/publish
/src/obj
/src/bin
/src/Properties/PublishProfiles
/src/IPValidator.csproj.user
.dccache
.vscode/launch.json
.vscode/tasks.json
