################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.config
/.vs
/obj
/bin
/Properties/PublishProfiles
/IPValidator.csproj.user
.dccache
.vscode/launch.json
.vscode/tasks.json
